<section class="section">
   <header class="container header">
      <a class="picture">
         <picture>
            <source srcset="./images/logo-mob@1x.png 1x, ./images/logo-mob@2x.png 2x" media="(max-width: 767px)" />
            <source srcset="./images/logo-tab@1x.png 1x, ./images/logo-tab@2x.png 2x" media="(min-width: 768px)" />
            <source />
            <img src="./images/logo-mob@1x.png" alt="logo" />
         </picture>
      </a>
      <ul class="header__list">
         <li class="header__item">
            <a class="header__nav-link" href="">Home</a>
         </li>
         <li class="header__item">
            <a class="header__link" href="">Favorite</a>
         </li>
      </ul>
      <div class="search">
         <span class="header__wrapper">
            <input type="search" placeholder="Search" class="search__input" />
            <span class="header__input"></span>
            <svg class="header__search-icon" width="24" height="24">
               <use href="./images/icon.svg#icon-search"></use>
            </svg>
         </span>
      </div>
      <ul class="header__switch">
         <li class="header__switch-item header__light">Light</li>
         <li class="switch__item header__switcher">
            <span class="switcher"><input type="checkbox" /></span>
         </li>
         <li class="header__theme-item header__dark">Dark</li>
      </ul>
      <button type="button" class="btn-menu__open" data-menu-open aria-label="Mobile menu open">
         <svg class="btn-menu__icon" width="32" height="32">
            <use href="./images/icon.svg#icon-menu"></use>
         </svg>
      </button>
      <!-- <button type="button" class=" btn-menu__open">
      <svg class="menu-open__icon" width="40" height="40">
        <use href="./images/icon.svg#icon-menu"></use>
      </svg>
    </button> -->
   </header>
</section>


