<section class="section hero">
  <div class="container">
    <h1 class="hero__title">A party without cocktails is not like a party</h1>
  </div>
  <div class="hero__picture"></div>
  <div class="container flex">
    <p class="hero__text">Search your favorite cocktail by ABC</p>
    <div class="hero__select-menu js-wrapper">
      <div class="hero__select-btn" for="select">
        <span class="hero__select-text"
          >Select<svg
            class="hero__icon"
            width="24"
            height="24"
            aria-label="drop-down-menu"
          >
            <use href="./images/sprite-hero.svg#icon-drop-down"></use>
          </svg>
          <!-- <option class="option" value="A" selected>A</option> -->
        </span>
      </div>
      <ul class="options hero__select">
        <li class="option"><span class="hero__option-text"></span></li>
      </ul>
    </div>
    <div class="hero__list-wrapper">
      <ul class="hero__list">
        <li class="hero__item hero__item--A">
          <a href="#" class="hero__link">A</a>
        </li>
      </ul>
    </div>
  </div>
</section>
