<section class="section hero">
  <div class="container">
    <h1 class="hero__title">A party without cocktails is not like a party</h1>
  </div>
  <div class="hero__picture"></div>
  <div class="container">
    <p class="hero__text">Search your favorite cocktail by ABC</p>
    <div class="hero__label-wrapper js-wrapper">
      <label class="hero__label" for="select">
        <div class="hero__select--wrapper">
          <select name="hero__select" class="hero__select" id="select">
            <!-- <svg
              class="social__icon"
              width="34"
              height="34"
              aria-label="drop-down-menu"
            >
              <use href="./images/sprite-hero.svg#icon-drop-down"></use>
            </svg> -->
            <option class="option" value="A" selected>A</option>
            <option class="option" value="B">B</option>
            <option class="option" value="C">C</option>
            <option class="option" value="D">D</option>
            <option class="option" value="E">E</option>
            <option class="option" value="F">F</option>
            <option class="option" value="G">G</option>
            <option class="option" value="H">H</option>
            <option class="option" value="I">I</option>
            <option class="option" value="J">J</option>
            <option class="option" value="K">K</option>
            <option class="option" value="L">L</option>
            <option class="option" value="M">M</option>
            <option class="option" value="N">N</option>
            <option class="option" value="O">O</option>
            <option class="option" value="P">P</option>
            <option class="option" value="Q">Q</option>
            <option class="option" value="R">R</option>
            <option class="option" value="S">S</option>
            <option class="option" value="T">T</option>
            <option class="option" value="U">U</option>
            <option class="option" value="V">V</option>
            <option class="option" value="W">W</option>
            <option class="option" value="X">X</option>
            <option class="option" value="Y">Y</option>
            <option class="option" value="Z">Z</option>
            <option class="option" value="value1">1</option>
            <option class="option" value="value2">2</option>
            <option class="option" value="value3">3</option>
            <option class="option" value="value4">4</option>
            <option class="option" value="value5">5</option>
            <option class="option" value="value6">6</option>
            <option class="option" value="value7">7</option>
            <option class="option" value="value8">8</option>
            <option class="option" value="value9">9</option>
            <option class="option" value="value0">0</option>
          </select>
        </div>
      </label>
    </div>
    <!-- <script type="text/x-handlebars-template" id="letters">
      <ul class='hero__list team__container'>
        {{#each letter}}
          <li class='hero__item hero__item--a'></li>
          <a href='#' class='grid__link'>{{this}}</a>
        {{/each}}
      </ul>
    </script> -->
    <div class="hero__list-wrapper">
      <ul class="hero__list">
        
      </ul>
    </div>
  </div>
</section>
