<!-- <section class="cocktails">
  <div class="container">
    <h1>Cocktails</h1>
    <ul class="cocktails__list card-set">
      <li class="cocktails__item">
        <img src="" alt="" width="280px" height="395px" />
        <h2 class="cocktails__title">Negroni1</h2>
        <button type="button" class="cocktails__btnmore">Learn more</button>
        <button type="button" class="cocktails__btnadd">
          Add to
          <svg class="#" width="18px" height="18px">
            <use href="../images/icon.svg#icon-redlike"></use>
          </svg>
        </button>
      </li>
      <li class="cocktails__item">
        <img src="#" alt="" width="280px" height="395px" />
        <h2 class="cocktails__title">Negroni2</h2>
        <button type="button" class="cocktails__btnmore">Learn more</button>
        <button type="button" class="cocktails__btnadd">
          Add to
          <svg class="#" width="18px" height="18px">
            <use href="../images/icon.svg#icon-redlike"></use>
          </svg>
        </button>
      </li>
      <li class="cocktails__item">
        <img src="" alt="" width="280px" height="395px" />
        <h2 class="cocktails__title">Negroni3</h2>
        <button type="button" class="cocktails__btnmore">Learn more</button>
        <button type="button" class="cocktails__btnadd">
          Add to
          <svg class="" width="18px" height="18px">
            <use href="../images/icon.svg#icon-redlike"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section> -->
