<section class="cocktails">
  <div class="container cocktails__container">
    <h1 class="cocktails__first-title">Cocktails</h1>
    <ul class="cocktails__list">
      <li class="cocktails__item">
        <img class="cocktails__img" src="./images/home-pic51.jpeg" alt="" />
        <h2 class="cocktails__second-title">Negroni</h2>
        <div class="cocktails__box">
          <button type="button" class="cocktails__btn">Learn more</button>
          <button type="button" class="cocktails__btn transparent">
            Add to
            <svg class="cocktails__btn-icon" width="18px" height="18px">
              <use href="./images/icon.svg#icon-redlike"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="cocktails__item">
        <img class="cocktails__img" src="./images/home-pic51.jpeg" alt="" />
        <h2 class="cocktails__second-title">Margarita</h2>
        <div class="cocktails__box">
          <button type="button" class="cocktails__btn">Learn more</button>
          <button type="button" class="cocktails__btn transparent">
            Add to
            <svg class="cocktails__btn-icon" width="18px" height="18px">
              <use href="./images/icon.svg#icon-redlike"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="cocktails__item">
        <img class="cocktails__img" src="./images/home-pic51.jpeg" alt="" />
        <h2 class="cocktails__second-title">Cosmopolitan</h2>
        <div class="cocktails__box">
          <button type="button" class="cocktails__btn">Learn more</button>
          <button type="button" class="cocktails__btn transparent">
            Add to
            <svg class="cocktails__btn-icon" width="18px" height="18px">
              <use href="./images/icon.svg#icon-redlike"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
