<div class="backdrop is-hidden" data-modal-team>
  <div class="modal">
    <button class="modal__button" data-modal-team-close>
      <svg class="modal__icon">
        <!-- <use href="./images/svg/symbol-defs.svg#icon-close"></use>  -->
      </svg>
    </button>
    <div class="team__container">
      <div class="modal__team">
        <div class="team__container">
          <div class="team__item">
            <img class="team__image" src="/src/images/ya.jpg" alt="" />
            <div class="team__info">
              <p class="team__item-text">Developer</p>
              <p class="team__item-title">Mitya</p>
            </div>
          </div>
        </div>
      </div>

      <div class="modal__team">
        <div class="team__container">
          <div class="team__item">
            <img class="team__image" src="./images/logo.png" alt="" />
            <div class="team__info">
              <p class="team__item-text">Developer</p>
              <p class="team__item-title">Mitya</p>
            </div>
          </div>
        </div>
      </div>

      <div class="modal__team">
        <div class="team__container">
          <div class="team__item">
            <img class="team__image" src="./images/logo.png" alt="" />
            <div class="team__info">
              <p class="team__item-text">Developer</p>
              <p class="team__item-title">Mitya</p>
            </div>
          </div>
        </div>
      </div>

      <div class="modal__team">
        <div class="team__container">
          <div class="team__item">
            <img class="team__image" src="./images/logo.png" alt="" />
            <div class="team__info">
              <p class="team__item-text">Developer</p>
              <p class="team__item-title">Mitya</p>
            </div>
          </div>
        </div>
      </div>

      <div class="modal__team">
        <div class="team__container">
          <div class="team__item">
            <img class="team__image" src="./images/logo.png" alt="" />
            <div class="team__info">
              <p class="team__item-text">Developer</p>
              <p class="team__item-title">Mitya</p>
            </div>
          </div>
        </div>
      </div>

      <div class="modal__team">
        <div class="team__container">
          <div class="team__item">
            <img class="team__image" src="./images/logo.png" alt="" />
            <div class="team__info">
              <p class="team__item-text">Developer</p>
              <p class="team__item-title">Mitya</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
