
.footer__container {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f5f5f5;
    min-height: 110px;
}

.footer__list--icon {
    display: flex;

    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
        
}


.footer__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    color: #202025;
        @include mq (mob) {
                flex-direction: column;
                font-size: 8px;
            }
        @include mq (tab) {     
            font-size: 12px;
                        flex-direction: row;
        }   
        @include mq(desc) {
            font-size: 14px;

        }
        }

.footer__team {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--button-color-orange);
    text-decoration: underline;

}
