.hero {
  display: block;
  @include mq(tab) {
    position: relative;
  }
}

.hero__list {
  @include mq(mob) {
    display: none;
  }
  @include mq(tab) {
    display: flex;
    gap: 5px;
  }
  @include mq(tab) {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    max-width: 324px;
    &:hover {
      cursor: pointer;
    }
  }
}

.hero__list-wrapper {
  @include mq(tab-only) {
    display: inline-flex;
  }
}

.hero__item {
  transition: transform 400ms linear;
  color: (--alfavito-color);
  &:hover {
    transform: scale(1.7);
    color: var(--button-color-orange);
  }
  @include mq(tab) {
    @include fonts($fs: 14px, $fw: 700, $lh: 1.5, $ls: 0.02em);
  }
}

.hero__picture {
  @include mq(mob) {
    height: 367px;
    background-image: url(../images/hero/mob/mob-hero-1x.webp);
    background-repeat: no-repeat;
    background-size: contain;

    background-position: right 0 bottom 0;

    @include mq(retina) {
      background-image: url(../images/hero/mob/mob-hero-2x.webp);
    }
  }

  @include mq(tab) {
    position: absolute;
    right: 0;
    top: 100px;
    height: 367px;
    width: 265px;
    background-position: left 0 bottom 0;
    background-image: url(../images/hero/tab/tab-hero-1x.webp);
    background-repeat: no-repeat;
    background-size: contain;

    @include mq(retina) {
      background-image: url(../images/hero/tab/tab-hero-2x.webp);
    }
  }
  @include mq(desc) {
    position: absolute;
    height: 580px;
    width: 500px;
    background-image: url(../images/hero/desc/desc-hero-1x.webp);
    background-repeat: no-repeat;
    background-size: contain;

    @include mq(retina) {
      background-image: url(../images/hero/desc/desc-hero-2x.webp);
    }
  }
}

.hero__title {
  @include fonts($fs: 20px, $fw: 600, $lh: 1.91, $ls: null);

  @include mq(mob-only) {
    padding-bottom: 28px;
    min-width: 280px;
    max-width: 300px;
  }
  @include mq(fab-only) {
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 336px;
  }

  @include mq(tab) {
    @include fonts($fs: 26px, $fw: 600, $lh: 1.62, $ls: null);
    display: inline-block;
  }

  @include mq(tab-only) {
    // min-width: 280px;
    max-width: 336px;
    padding-bottom: 40px;
  }
  @include mq(desc) {
    @include fonts($fs: 52px, $fw: 600, $lh: 1.54, $ls: null);

    max-width: 688px;
    padding-bottom: 40px;
  }
}

.hero__text {
  @include mq(mob) {
    @include mq(mob) {
      @include fonts($fs: 14px, $fw: 500, $lh: 2, $ls: null);
    }
    padding-top: 28px;
    padding-bottom: 20px;
    min-width: 280px;
  }
  @include mq(fab) {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  @include mq(tab) {
    display: flex;
    justify-content: flex-start;
  }
  @include mq(desc) {
    @include fonts($fs: 18px, $fw: 500, $lh: 1.56, $ls: null);
  }
}

.hero__label-wrapper {
  @include mq(mob-only) {
    padding-bottom: 40px;
  }
  @include mq(tab) {
    display: none;
  }
}

.hero__select--wrapper {
  display: flex;
  justify-content: center;
}

.hero__select {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #fff;
  line-height: 1.3;
  padding: 6px 10px;
  width: 93px;
  height: 34px;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--button-color-orange);
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');

  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;

  transition: border var(--transition), background-color var(--transition);

  &:hover {
    cursor: pointer;
  }

  &:focus {
    border: none;
    outline: 2px solid var(--button-color-orange);
    color: var(--button-color-orange);
    background-color: #fff;
  }
}

.option {
  height: 93px;
  @include fonts($fs: 16px, $fw: 700, $lh: 1.35, $ls: null);
}

// .icon {
//   display: inline-block;
//   width: 1em;
//   height: 1em;
//   stroke-width: 0;
//   stroke: var(--title-main);
//   fill: var(--title-main);
// }
