.backdrop-modal-components {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: 700ms;
}
.backdrop-modal-components::after {
content: '';
pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
.is-hidden-modal-two {
  opacity: 0;
  pointer-events: none;
  transition: 700ms;
}

.modal-two-container {
  @include mq(mob) {
    z-index: 19;
    position: absolute;
    width: 320px;
    height: 730px;
    top: 365px;
    background-color: var(--button-color-white);
    overflow: auto;
  }
  @include mq(tab) {
    width: 822px;
    height: 598px;
    top: 400px;
  }

  position: absolute;
  transition: var(--transition);
  background-color: var(--button-color-white);
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  transition: 700ms;
}
.modal-two-header {
  position: absolute;
  width: 181px;
  height: 37px;
  left: 28px;
  top: 40px;
  font-family: var(--text-roboto);
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  color: var(--title-secondary-light-theme);
}
.modal-two-name {
  position: absolute;
  width: 66px;
  height: 24px;
  left: 28px;
  top: 105px;
  font-family: var(--title-poppins);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--title-secondary-light-theme);
}
.modal-two-container::after {
  content: '';
  position: absolute;
  width: 320px;
  @include mq(tab) {
    width: 820px;
  }
  height: 0px;
  left: 0px;
  top: 169px;
  border: 1px solid #fd5103;
}
.modal-two-text {
  @include mq(mob) {
    position: absolute;
    width: 275px;
    height: 168px;
    left: 26px;
    top: 200px;
  }
  @include mq(tab) {
    position: absolute;
    width: 554px;
    height: 112px;
    left: 28px;
    top: 197px;
    font-size: 14px;
    line-height: 1.7;
  }
  @include mq(desc) {
    position: absolute;
    width: 654px;
    height: 112px;
    left: 28px;
    top: 197px;
    font-size: 16px;
    line-height: 1.7;
  }
  font-family: var(--title-poppins);
  font-style: normal;
  font-weight: 400;

  color: var(--background-dark);
}
.modal-two-span {
  font-family: var(--title-poppins);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: var(--background-dark);
}
.modal-two-ingridients {
  @include mq(mob) {
    position: absolute;
    width: 266px;
    height: 104px;
    left: 28px;
    top: 500px;
    font-size: 16px;
    line-height: 1.6;
  }
  @include mq(tab) {
    position: absolute;
    width: 266px;
    height: 104px;
    left: 28px;
    top: 337px;
    font-size: 14px;
    line-height: 1.6;
  }
  @include mq(desc) {
    position: absolute;
    width: 266px;
    height: 104px;
    left: 28px;
    top: 337px;
    font-size: 16px;
    line-height: 1.6;
  }
  list-style-type: none;
  font-family: var(--title-poppins);
  font-style: normal;
  font-weight: 400;
  color: var(--title-secondary-light-theme);
}
.modal-button {
  @include mq(mob) {
    @include fonts($fs: 20px, $fw: 400, $lh: 1.2, $ls: 0.02em);
    font-family: var(--text-roboto);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    position: absolute;
    bottom: 28px;
    right: 28px;

    padding: 12px 22px;
    min-width: 185px;

    color: var(--button-text-white);
    background-color: var(--button-color-orange);
    border-radius: 4px;
    border: none;
    transition: 700ms;
    transition: color var(--transition), background-color var(--transition),
      outline var(--transition);
  }

  &:hover,
  &:focus {
    color: var(--button-text-color);
    background-color: var(--button-color-white);
    outline: 1px solid var(--button-text-color);
  }
}

.hidden-components-modal{
  display: none;
}
.modal-scale {
  display: none;
}