
.backdrop-modal-is-hidden{
  display:none;
}
.backdrop-modal {
  // @include mq(tab){
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.modal-scale {
  display:none;
}
.is-hidden-modal-coctails {
  opacity: 0;
  pointer-events: none;
}

.modal-coctail-components {
  list-style-type: none;
}
.modal-coctails {
  @include mq(mob){
    position: absolute;
    width: 320px;
    height: 990px;
  overflow:auto;
  top: 500px;
  }
  @include mq(tab){
      width: 822px;
      height: 598px;
    }
    position: absolute;
  transition: var(--transition);
  background-color: var(--button-color-white);
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-img {
  @include mq(mob){
    position: absolute;
width: 280px;
height: 320px;
left: 20px;
top: 340px;
  }
  @include mq(tab){
  position: absolute;
  width: 288px;
  height: 320px;
  left: 0px;
  top: 0px;}
  border-radius: 4px 4px 4px 45px;
}
.modal-coctail-name {
  @include mq(mob){
    width: 129px;
   height: 37px;
margin-left: 16px;
margin-top: 30px;
  }
  @include mq(tab){
  margin-top: 40px;
  margin-left: 300px}
  color: var( --background-dark)

}
.modal-ingredients {
  @include mq(mob){position: absolute;
    width: 103px;
    height: 24px;
    left: 16px;
    top: 680px;}
    @include mq(tab){
  position: absolute;
  width: 103px;
  height: 24px;
  left: 320px;
  top: 105px;
  font-size: 16px;
  line-height: 1.5;}
  font-family: var(--title-poppins);
  font-style: normal;
  font-weight: 600;
  color: #000917;
  text-transform: uppercase;
}
.modal-per {
  @include mq(mob){
    position: absolute;
width: 100px;
height: 21px;
left: 16px;
top: 712px;
  }
  @include mq(tab){
  position: absolute;
  width: 90px;
  height: 21px;
  left: 320px;
  top: 137px;
  font-size: 14px;
  line-height: 1.5;}
  font-family: var(--title-poppins);
  font-style: normal;
  font-weight: 300;
  color: var(--title-secondary-light-theme);
}
.modal-coctail-components {
  @include mq(mob){
    position: absolute;
    width: 215px;
    height: 130px;
    left: 16px;
    top: 741px;}
    @include mq(tab){position: absolute;
      width: 215px;
      height: 130px;
      left: 320px;
      top: 166px;
      font-size: 16px;
      line-height: 1.6;}
  font-family: var(--title-poppins);
  font-style: normal;
  font-weight: 400;
  color: #000917;
  padding: 0;
}
.modal-Instractions {
  @include mq(mob){
    position: absolute;
    width: 122px;
    height: 26px;
    left: 16px;
    top: 87px;
  }
  @include mq(tab){
  position: absolute;
  width: 122px;
  height: 26px;
  left: 28px;
  top: 348px;
  font-size: 16px;
  line-height: 1.6;
  }
  font-family: var(--title-poppins);
  color: var(--background-dark);
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}
.modal-text {
  @include mq(mob){
    position: absolute;
width: 275px;
height: 168px;
left: 16px;
top: 137px;
  }
  @include mq(tab){
  position: absolute;
  width: 615px;
  height: 84px;
  left: 28px;
  top: 398px;
  font-size: 16px;
  line-height: 1.75;
  }
  font-family: var(--title-poppins);
  font-style: normal;
  font-weight: 400;
  color: #5f6775;
  margin: 0;
}
.modal-button_add {
    @include mq(mob){
    position:absolute;
    left: 16px;
    top: 901px;
  }
  @include mq(tab){
    top: 522px;
    left: 609px;
  }
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 22px;
  gap: 10px;
  position: absolute;
  width: 185px;
  height: 48px;
  left: 0px;
  top: 0px;
  background: var(--title-main);
  border-radius: 4px;
  right: 28px;
  
  font-family: var(--text-roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--button-text-white);
}

.modal-menu__close {

  @include mq(mob){
left: 270px;
top: 12px;
  }
  @include mq(tab){
  left: 778px;
  top: 12px;
  }
  margin:0;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  color: var(--background-dark);
  text-align: center;

  &:focus,
  &:hover {
    color: var(--button-text-color);
  }
}

.hidden_remove {
  display: none;
}
.modal-button_remove {
    @include mq(mob){
    position:absolute;
    left: 16px;
    top: 901px;
  }
  @include mq(tab){
    left: 546px;
  top: 522px;
}
  flex-direction: row;
  padding: 12px 22px;
  gap: 10px;
  position: absolute;
  width: 248px;
  height: 48px;
  
  background: var(--title-main);
  border-radius: 4px;
  font-family: var(--text-roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--button-text-white);
}



