.backdrop-modal-components {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-duration: 700ms;
  }
  
 .is-hidden-modal-two {
    opacity: 0;
    pointer-events: none;
    transition-duration: 700ms;
  } 

.modal-two-container {
  @include mq(mob){
    position: absolute;
    width: 320px;
    height: 730px;
    top: 530px;
    background-color: var(--button-color-white);
  }
  @include mq(tab){
    width: 822px;
    height: 598px;
  }
  position: absolute;
transition: var(--transition);
background-color: var(--button-color-white);
left: 50%;
transform: translate(-50%, -70%);
}
.modal-two-header {
  position: absolute;
  width: 181px;
  height: 37px;
  left: 28px;
  top: 40px;
  font-family: var(--text-roboto);
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  color: var(--title-secondary-light-theme);
}
.modal-two-name {
  position: absolute;
  width: 66px;
  height: 24px;
  left: 28px;
  top: 105px;
  font-family: var(--title-poppins);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--title-secondary-light-theme);
}
.modal-two-container::after {
  content: '';
position: absolute;
width: 318px;
@include mq(tab){
  width: 820px;
}
height: 0px;
left: 0px;
top: 169px;
border: 1px solid #FD5103
}
.modal-two-text {
  @include mq(mob){
    position: absolute;
    width: 275px;
height: 168px;
left: 26px;
top: 200px;
  }
  @include mq(tab){
    position: absolute;
    width: 554px;
    height: 112px;
    left: 28px;
    top: 197px;
    font-size: 14px;
    line-height: 1.7;}
    @include mq(desc){
      position: absolute;
  width: 654px;
  height: 112px;
  left: 28px;
  top: 197px;
  font-size: 16px;
  line-height: 1.7;
    }
  font-family: var(--title-poppins);
  font-style: normal;
  font-weight: 400;
  
  color: var(--background-dark);
}
.modal-two-span {
  font-family: var(--title-poppins);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: var(--background-dark);
}
.modal-two-ingridients {
  @include mq(mob){position: absolute;
    width: 270px;
    height: 104px;
    left: 28px;
    top: 500px;
    font-size: 15px;
    line-height: 1.6;}
    @include mq(tab){
      position: absolute;
  width: 390px;
  height: 104px;
  left: 28px;
  top: 337px;
  font-size: 16px;
  line-height: 1.6;
    }
    
  list-style-type: none;
  font-family: var(--title-poppins);
  font-style: normal;
  font-weight: 400;
  color: var(--title-secondary-light-theme);
}
.modal-button-add {
  @include mq(mob){
    position: absolute;
    left: 16px;
    top: 661px;
  }
  @include mq(tab){
    position: absolute;
    top: 522px;
    left: 609px;
  }
  border:none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 22px;
    gap: 10px; 
    width: 185px;
    height: 48px;
    left: 0px;
    top: 0px;  
    background: var(--title-main);
    border-radius: 4px;
    right: 28px;
    font-family: var(--text-roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--button-text-white);
    &:focus,
  &:hover {
    box-shadow: 1px 1px 1px 1px rgba(255, 107, 8, 0.8);
  }
}

.modal-two-menu__close {
  @include mq(mob){
    position: absolute;
    left: 271px;
    top: 12px;
  }
  @include mq(tab){
    position: absolute;
    left: 778px;
    top: 12px;
  }   
    display: flex;
    align-items: center;
    justify-content: center;  
    border: none;
    background: transparent;
    color: var(--background-dark);
    text-align: center;
    &:focus,
    &:hover {
      color: var(--button-text-color);
    }
  }

 .hidden-components-modal {
    display: none;
}
 .modal-button-remove {
  @include mq(mob){
    position: absolute;
    width: 248px;
    height: 48px;
    left: 16px;
    top: 661px;
    font-size: 20px;
    line-height: 1.2;
  }
  @include mq(tab){
    position: absolute;
    left: 546px;
    top: 522px;
  }
  border:none;
    padding: 12, 24, 12, 24px;   
    flex-direction: row;
    padding: 12px 22px;
    gap: 10px; 
    width: 248px;
    height: 48px;
    background: var(--title-main);
    border-radius: 4px;
    font-family: var(--text-roboto);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: var(--button-text-white);
    &:focus,
  &:hover {
    box-shadow: 1px 1px 1px 1px rgba(255, 107, 8, 0.8);
  }
} 
